<h2 align="center">Task</h1><a name="task-one"></a>
<p align="center">

*****

In your weather.ipynb notebook, use the pandas function read_json() to load in any one of the weather data files you have downloaded with your script. Examine and summarize the data. Use the information provided [Data.gov.ie](https://data.gov.ie) to write a short explanation of what the data set contains.

<h2 align="center">Dataset Background</h1><a name="task-one"></a>
<p align="center">

*****

This file contains a list of list of observations for every hour of the current day for our synoptic station in Athenry, Co Galway. The file is updated hourly. Time values are Local times. Values for each hour include: Name; Dry bulb temperature in whole degrees; Weather description, Windspeed (kt); Cardinal Wind Direction; Relative Humidity (%); Rainfall (mm); msl Pressure (mbar); Day of the week; Date; Time of observation. Please note: This data is not quality controlled.

<h2 align="center">Exploratory Data Analysis</h1><a name="task-one"></a>
<p align="center">

*****

In [8]:
# Libraries Imported.
import pandas as pd
from scipy import stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
import warnings
from itertools import combinations
import os

In [3]:
# Read JSON file into a pandas DataFrame
df = pd.read_json('20241125_223027.json')

# Display the DataFrame
print(df)

       name  temperature symbol weatherDescription               text  \
0   Athenry            8    04n             Cloudy           "Cloudy"
1   Athenry            8    02n               Fair             "Fair"
2   Athenry            8    02n               Fair             "Fair"
3   Athenry            6    02n               Fair             "Fair"
4   Athenry            6    02n               Fair             "Fair"
5   Athenry            7    04n             Cloudy           "Cloudy"
6   Athenry            7    04n             Cloudy           "Cloudy"
7   Athenry            7    04n             Cloudy           "Cloudy"
8   Athenry            6    04d             Cloudy           "Cloudy"
9   Athenry            6    04d             Cloudy           "Cloudy"
10  Athenry            7    04d             Cloudy           "Cloudy"
11  Athenry            6    04d             Cloudy           "Cloudy"
12  Athenry            7    46d        Light rain   "Recent Drizzle "
13  Athenry            7    04d             Cloudy           "Cloudy"
14  Athenry            6    02d               Fair             "Fair"
15  Athenry            6    02d               Fair             "Fair"
16  Athenry            6    04d             Cloudy           "Cloudy"
17  Athenry            5    02n               Fair             "Fair"
18  Athenry            3    02n               Fair             "Fair"
19  Athenry            2    02n               Fair             "Fair"
20  Athenry            2    02n               Fair             "Fair"
21  Athenry            3    02n               Fair             "Fair"
22  Athenry            1    02n               Fair             "Fair"

    windSpeed windGust cardinalWindDirection  windDirection  humidity  \
0          15        -                     W            270        75
1          19       39                     W            270        71
2          17       39                     W            270        74
3           7       41                     W            270        79
4           9        -                     W            270        79
5          17        -                     W            270        69
6           9        -                     W            270        75
7           9        -                     W            270        80
8           9        -                    SW            225        85
9           9        -                     W            270        82
10          9        -                     W            270        82
11          9        -                    SW            225        88
12          9        -                    SW            225        85
13          9        -                    SW            225        81
14          7        -                    SW            225        86
15          7        -                     W            270        85
16          9        -                    SW            225        82
17          6        -                     W            270        81
18          4        -                    SW            225        88
19          6        -                    SW            225        92
20          6        -                     W            270        95
21          9        -                     W            270        92
22          4        -                     W            270        96

    rainfall  pressure dayName       date reportTime
0       0.00       987  Monday 2024-11-25      00:00
1       0.00       988  Monday 2024-11-25      01:00
2       0.00       988  Monday 2024-11-25      02:00
3       0.00       989  Monday 2024-11-25      03:00
4       0.00       990  Monday 2024-11-25      04:00
5       0.00       991  Monday 2024-11-25      05:00
6       0.00       992  Monday 2024-11-25      06:00
7       0.00       993  Monday 2024-11-25      07:00
8       0.00       994  Monday 2024-11-25      08:00
9       0.00       996  Monday 2024-11-25      09:00
10      0.00       997  Monday 2024-11-25      10:00
11      0.00       998  Monday 2024-11-25      11:00
12      0.01       998  Monday 2024-11-25      12:00
13      0.00       999  Monday 2024-11-25      13:00
14      0.00       999  Monday 2024-11-25      14:00
15      0.00      1000  Monday 2024-11-25      15:00
16      0.00      1001  Monday 2024-11-25      16:00
17      0.00      1002  Monday 2024-11-25      17:00
18      0.00      1003  Monday 2024-11-25      18:00
19      0.00      1004  Monday 2024-11-25      19:00
20      0.00      1005  Monday 2024-11-25      20:00
21      0.00      1006  Monday 2024-11-25      21:00
22      0.00      1007  Monday 2024-11-25      22:00

In [4]:
df.head(20) # Getting the first 20 rows to get an idea of the data

,name,temperature,symbol,weatherDescription,text,windSpeed,windGust,cardinalWindDirection,windDirection,humidity,rainfall,pressure,dayName,date,reportTime
0,Athenry,8,04n,Cloudy,"""Cloudy""",15,-,W,270,75,0.00,987,Monday,2024-11-25,00:00
1,Athenry,8,02n,Fair,"""Fair""",19,39,W,270,71,0.00,988,Monday,2024-11-25,01:00
2,Athenry,8,02n,Fair,"""Fair""",17,39,W,270,74,0.00,988,Monday,2024-11-25,02:00
3,Athenry,6,02n,Fair,"""Fair""",7,41,W,270,79,0.00,989,Monday,2024-11-25,03:00
4,Athenry,6,02n,Fair,"""Fair""",9,-,W,270,79,0.00,990,Monday,2024-11-25,04:00
5,Athenry,7,04n,Cloudy,"""Cloudy""",17,-,W,270,69,0.00,991,Monday,2024-11-25,05:00
6,Athenry,7,04n,Cloudy,"""Cloudy""",9,-,W,270,75,0.00,992,Monday,2024-11-25,06:00
7,Athenry,7,04n,Cloudy,"""Cloudy""",9,-,W,270,80,0.00,993,Monday,2024-11-25,07:00
8,Athenry,6,04d,Cloudy,"""Cloudy""",9,-,SW,225,85,0.00,994,Monday,2024-11-25,08:00
9,Athenry,6,04d,Cloudy,"""Cloudy""",9,-,W,270,82,0.00,996,Monday,2024-11-25,09:00
10,Athenry,7,04d,Cloudy,"""Cloudy""",9,-,W,270,82,0.00,997,Monday,2024-11-25,10:00
11,Athenry,6,04d,Cloudy,"""Cloudy""",9,-,SW,225,88,0.00,998,Monday,2024-11-25,11:00
12,Athenry,7,46d,Light rain,"""Recent Drizzle """,9,-,SW,225,85,0.01,998,Monday,2024-11-25,12:00
13,Athenry,7,04d,Cloudy,"""Cloudy""",9,-,SW,225,81,0.00,999,Monday,2024-11-25,13:00
14,Athenry,6,02d,Fair,"""Fair""",7,-,SW,225,86,0.00,999,Monday,2024-11-25,14:00
15,Athenry,6,02d,Fair,"""Fair""",7,-,W,270,85,0.00,1000,Monday,2024-11-25,15:00
16,Athenry,6,04d,Cloudy,"""Cloudy""",9,-,SW,225,82,0.00,1001,Monday,2024-11-25,16:00
17,Athenry,5,02n,Fair,"""Fair""",6,-,W,270,81,0.00,1002,Monday,2024-11-25,17:00
18,Athenry,3,02n,Fair,"""Fair""",4,-,SW,225,88,0.00,1003,Monday,2024-11-25,18:00
19,Athenry,2,02n,Fair,"""Fair""",6,-,SW,225,92,0.00,1004,Monday,2024-11-25,19:00

In [5]:
df.describe() # Calling the .describe function to give me a set of summary statistics for the numeric attributes in the data frame.

,temperature,windSpeed,windDirection,humidity,rainfall,pressure,date
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23
mean,5.652174,9.304348,254.347826,82.695652,0.000435,996.826087,2024-11-25 00:00:00
min,1.000000,4.000000,225.000000,69.000000,0.000000,987.000000,2024-11-25 00:00:00
25%,5.500000,7.000000,225.000000,79.000000,0.000000,991.500000,2024-11-25 00:00:00
50%,6.000000,9.000000,270.000000,82.000000,0.000000,998.000000,2024-11-25 00:00:00
75%,7.000000,9.000000,270.000000,87.000000,0.000000,1001.500000,2024-11-25 00:00:00
max,8.000000,19.000000,270.000000,96.000000,0.010000,1007.000000,2024-11-25 00:00:00
std,2.036233,3.993572,21.914314,7.213843,0.002085,6.220583,NaN

In [9]:
trans_df_stats = df.describe().T # Creating a new data frame where the descriibe function output is transposed
trans_df_stats # Calling the data frame

,count,mean,min,25%,50%,75%,max,std
temperature,23.0,5.652174,1.0,5.5,6.0,7.0,8.0,2.036233
windSpeed,23.0,9.304348,4.0,7.0,9.0,9.0,19.0,3.993572
windDirection,23.0,254.347826,225.0,225.0,270.0,270.0,270.0,21.914314
humidity,23.0,82.695652,69.0,79.0,82.0,87.0,96.0,7.213843
rainfall,23.0,0.000435,0.0,0.0,0.0,0.0,0.01,0.002085
pressure,23.0,996.826087,987.0,991.5,998.0,1001.5,1007.0,6.220583
date,23,2024-11-25 00:00:00,2024-11-25 00:00:00,2024-11-25 00:00:00,2024-11-25 00:00:00,2024-11-25 00:00:00,2024-11-25 00:00:00,NaN

In [11]:
spec_df_stats = df.groupby('weatherDescription').describe() # Creating a new data frame where the numeric variables are grouped by the species and then describe method run on them to create summary statistics
pd.set_option('display.max_columns', None) # Setting max number of cloumns to display to be none, so all show
pd.set_option('display.expand_frame_repr', False) # Setting it so that the output displays the text on a single line.
spec_df_stats # Calling the data frame

                   temperature                                               windSpeed                                                windDirection                                                        humidity                                                     rainfall                                          pressure                                                                date
                         count      mean  min   25%  50%  75%  max       std     count       mean  min  25%  50%  75%   max       std         count    mean    min     25%    50%    75%    max        std    count       mean   min    25%   50%   75%   max       std    count  mean   min   25%   50%   75%   max  std    count        mean    min     25%     50%      75%     max       std count                 mean                  min                  25%                  50%                  75%                  max  std
weatherDescription
Cloudy                    10.0  6.700000  6.0  6.00  7.0  7.0  8.0  0.674949      10.0  10.400000  9.0  9.0  9.0  9.0  17.0  2.988868          10.0  252.00  225.0  225.00  270.0  270.0  270.0  23.237900     10.0  79.900000  69.0  76.25  81.5  82.0  88.0  5.506562     10.0  0.00  0.00  0.00  0.00  0.00  0.00  0.0     10.0  994.800000  987.0  992.25   995.0   997.75  1001.0  4.211096    10  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  NaN
Fair                      12.0  4.666667  1.0  2.75  5.5  6.0  8.0  2.386833      12.0   8.416667  4.0  6.0  7.0  9.0  19.0  4.756973          12.0  258.75  225.0  258.75  270.0  270.0  270.0  20.352016     12.0  84.833333  71.0  79.00  85.5  92.0  96.0  8.166821     12.0  0.00  0.00  0.00  0.00  0.00  0.00  0.0     12.0  998.416667  988.0  989.75  1001.0  1004.25  1007.0  7.501010    12  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  NaN
Light rain                 1.0  7.000000  7.0  7.00  7.0  7.0  7.0       NaN       1.0   9.000000  9.0  9.0  9.0  9.0   9.0       NaN           1.0  225.00  225.0  225.00  225.0  225.0  225.0        NaN      1.0  85.000000  85.0  85.00  85.0  85.0  85.0       NaN      1.0  0.01  0.01  0.01  0.01  0.01  0.01  NaN      1.0  998.000000  998.0  998.00   998.0   998.00   998.0       NaN     1  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  2024-11-25 00:00:00  NaN

**Background of the Dataset**

The Iris dataset is a popular dataset, that has been widely used in the  pattern recognition and machine learning domains. The dataset was introduced by the British statistician and biologist Ronald Fisher in 1936, in a paper titled "The use of multiple measurements in taxonomic problems". The dataset contains the sepal length, sepal width, petal length, and petal width of a smaple of 150 samples of Iris flowers. The Iris flowers fall into one of three categories: setosa, versicolor, or virginica.

**Overview of Variables**

**Categorical:**

- **`species`:** This variable indicates the species of Iris. It has three categories: setosa, versicolor, and virginica.

**Numerical:**

- **`sepal_length`:** Length of the sepal in centimeters.
- **`sepal_width`:** Width of the sepal in centimeters.
- **`petal_length`:** Length of the petal in centimeters.
- **`petal_width`:** Width of the petal in centimeters.

**Categorical Variables**

The `species` variable is a categorical variable. The reasoning for this is:

1. The values are qualitative, in that they are not measured in a value that can be measured.
2. There is no means to perform numerical calculations on them.
3. The values cannot be ordered or ranked in any way other than alphabetically.
4. There are only a distinct number of values in the variable.

Additionally, it is a  string as they it is represented by alphabetical characters, is used to categorise and has no non-numeric values.


**Numerical Variables**

The `sepal_length`, `sepal_width`, `petal_length`, and `petal_width` variables are all numerical. The reasoning for this is:

1. The values for these variables are quantitative, in that they are measured with a value that can be measured and the value is a number.
2. Numerical operations can be performed on them.
3. They can be ordered or ranked based on value.

The `sepal_length`, `sepal_width`, `petal_length`, and `petal_width` have a float data type as they can be represented to a number of decimal places and are so in the data collected.